{% extends 'clanwar/base.html' %}
{% load static %}
{# Load the tag library #}
{% load my_filters %}
{% load to_datetime %}
{% load to_range %}
{% load to_range_loss %}
{% load subtract %}
{% load absolute %}
{% load format_thousands %}

{% block content %}
<div class="home" style="height: 40vh; background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({% static "images/topplayers.jpg" %}); background-size: cover; background-position: center center;"></div>

<div class="page_content" style="margin-top: 30px;">
<div class="container container-homepage">
  <div class="panel panel-default" style="width: 100%;">
    <div class="container panel-body" style="width: 100%;">
      <h3>Popular Decks</h3>
    </div>
      <table class="table table-striped table-hover text-center table-condesed" style="width: 100%; padding:0; margin:0; border-top: 1px solid lightgrey;">
        <thead class="text-center small">
          <th class="text-center">Poularity</th>
          <th class="text-center">Cards</th>
        </thead>

        <tbody class="small">
          <div class="pre-scrollable" style="max-height: 500px">
          {% for deck in data %}
          <tr>
            <td style="vertical-align: middle;">{{ deck|lookup:'popularity' }}</td>
            <td style="vertical-align: middle;">
              {% for i in deck|range_num:8 %}
                {% if i == 4 %}
                </br><img src="{{ deck|lookup:'cards'|lookup:i|lookup:'icon' }}" style="max-height: 50px;"/>
                {% else %}
                <img src="{{ deck|lookup:'cards'|lookup:i|lookup:'icon' }}" style="max-height: 50px;"/>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
          </div>
        </tbody>

      </table>

  </div>
</div>
</div>
{% endblock %}
