{% extends 'clanwar/base.html' %}
{% load static %}
{# Load the tag library #}
{% load my_filters %}
{% load to_datetime %}
{% load to_range %}
{% load to_range_loss %}
{% load subtract %}
{% load absolute %}
{% load format_thousands %}

{% block content %}
<div class="home" style="height: 40vh; background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({% static "images/topplayers.jpg" %}); background-size: cover; background-position: center center;">
  <div class="popular-deck-text" style="position: absolute; bottom: 0; left:0; padding: 20px; max-width: 60%;">
    <h3 style="font-size: calc(1rem + 2vw);">Popular Decks</h3>
  </div>
  <div class="popular-decks-icon" style="position: absolute; bottom: 0; right: 0; padding: 20px;">
    <img src="https://royaleapi.com/static/img/ui/cards.png" style="max-width: 76px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);"/>
  </div>
</div>

<div class="page_content" style="margin-top: 30px;">
<div class="container container-homepage">
  <div class="panel panel-default" style="width: 100%;">
    <div class="container panel-body" style="width: 100%; padding: 0;">
      <div class="popular-decks-info" style="width: 100%;">
        <table class="table table-condensed" style="width: 100%;">
          <thead>
            <tr>
              <th style="text-align: center;">Total games</th>
              <th style="text-align: center;">Size</th>
              <th style="text-align: center;">Sort</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">{{total_games}}</td>
              <td style="text-align: center;">{{deck_count}}</td>
              <td style="text-align: center;">Popularity</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container deck-tab" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; position: relative;">

        {% for deck in decks_list %}
        <div class="container" style="border-top: 1px solid lightgrey; padding-left: 15px; padding-right: 15px; position:relative">
          <div class="deck-card-names">
            <h3 style="text-align: left; margin: 15px 0px 15px 0px;">
              {% for card in deck.deck_obj.cards_set.all %}
                {{card.name}},
              {% endfor%}
            </h3>

          </div>
          <div class="panel panel-default" style="width: 100%">
            <div class="panel-body container flex-container" style="width: 100%">
              <div class="deck-graphics">

                <div class="deck-icons-battles flex-container">
                  {% for card in deck.deck_obj.cards_set.all %}
                    <div class="cards">
                      <img src={{ card.icon }} alt="">
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="deck-analysis" style="padding: 15px;">
              <table class="table table-condensed" style="width: 100%;">
                <tr>
                  <td style="border-top: 0; text-align: left;">Avg. Elixir</td>
                  <td style="border-top: 0;">{{deck.deck_obj.cards_set.all|deck_average|lookup:'avg'}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">4-card cycle</td>
                  <td>{{deck.deck_obj.cards_set.all|deck_average|lookup:'4-avg'}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{deck.count|games_percent:total_games|format_percent}}% ({{deck.count}}/{{total_games}} games)</td>
                  <td></td>
                </tr>
              </table>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{deck.count|games_percent:total_games|format_percent}}%" aria-valuenow="{{deck.count|games_percent:total_games|format_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <table class="table table-condensed" style="width: 100%;">
                <thead>
                  <th>Battles</th>
                  <th>Wins</th>
                  <th>Draws</th>
                  <th>Losses</th>
                </thead>
                <tbody>
                  <tr>
                    <td>{{deck.count}}</td>
                    <td>{{deck.deck_obj.id|deck_statistics_popular|lookup:'wins'|games_percent:deck.count|format_percent}}%</td>
                    <td>{{deck.deck_obj.id|deck_statistics_popular|lookup:'draws'|games_percent:deck.count|format_percent}}%</td>
                    <td>{{deck.deck_obj.id|deck_statistics_popular|lookup:'losses'|games_percent:deck.count|format_percent}}%</td>
                  </tr>
                </tbody>
              </table>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{deck.deck_obj.id|deck_statistics_popular|lookup:'wins'|games_percent:deck.count|format_percent}}%" aria-valuenow="{{deck.deck_obj.id|deck_statistics_popular|lookup:'wins'|games_percent:deck.count|format_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-secondary" role="progressbar" style="width: {{deck.deck_obj.id|deck_statistics_popular|lookup:'draws'|games_percent:deck.count|format_percent}}%" aria-valuenow="{{deck.deck_obj.id|deck_statistics_popular|lookup:'draws'|games_percent:deck.count|format_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{deck.deck_obj.id|deck_statistics_popular|lookup:'losses'|games_percent:deck.count|format_percent}}%" aria-valuenow="{{deck.deck_obj.id|deck_statistics_popular|lookup:'losses'|games_percent:deck.count|format_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>


            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>

  </div>
  <div class="container container-homepage">


  </div>
</div>
</div>
{% endblock %}
